In [14]:
import pandas as pd 
import numpy as np 
import math

from sklearn.linear_model import LogisticRegression 
from sklearn.preprocessing import StandardScaler, MinMaxScaler, OrdinalEncoder, LabelEncoder, OrdinalEncoder
from sklearn.compose import make_column_transformer
from sklearn.model_selection import train_test_split

from sklearn.metrics import recall_score, f1_score, precision_score, accuracy_score, classification_report,\
roc_auc_score, confusion_matrix

import matplotlib.pyplot as plt

In [15]:
# reading the data into a list 
dataframe = pd.read_csv("data.csv")
print ( len(dataframe) )
dataframe.head()

863

,Unnamed: 0,location,country,gender,age,vis_wuhan,from_wuhan,symptom1,symptom2,symptom3,symptom4,symptom5,symptom6,diff_sym_hos,result
0,0,104,8,1,66.0,1,0,14,31,19,12,3,1,8,1
1,1,101,8,0,56.0,0,1,14,31,19,12,3,1,0,0
2,2,137,8,1,46.0,0,1,14,31,19,12,3,1,13,0
3,3,116,8,0,60.0,1,0,14,31,19,12,3,1,0,0
4,4,116,8,1,58.0,0,0,14,31,19,12,3,1,0,0

In [16]:
lb = LabelEncoder()
for i in dataframe.columns:
    dataframe[i]=lb.fit_transform(dataframe[i])
dataframe

,Unnamed: 0,location,country,gender,age,vis_wuhan,from_wuhan,symptom1,symptom2,symptom3,symptom4,symptom5,symptom6,diff_sym_hos,result
0,0,104,8,1,58,1,0,14,31,19,12,3,1,10,1
1,1,101,8,0,48,0,1,14,31,19,12,3,1,2,0
2,2,137,8,1,37,0,1,14,31,19,12,3,1,15,0
3,3,116,8,0,52,1,0,14,31,19,12,3,1,2,0
4,4,116,8,1,50,0,0,14,31,19,12,3,1,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
858,858,48,3,2,15,0,0,14,31,19,12,3,1,2,1
859,859,0,0,2,26,0,0,14,31,19,12,3,1,2,0
860,860,3,1,1,41,0,0,14,31,19,12,3,1,2,0
861,861,24,9,1,41,0,0,14,31,19,12,3,1,2,0
862,862,15,27,1,62,0,0,14,31,19,12,3,1,2,0

In [17]:
#splitting the data into Training (80%) and Testing (20%)
x = dataframe.iloc[:, 1:13]
y = dataframe["result"]
xTrain , xTest , yTrain , yTest = train_test_split(x,y,random_state=2,test_size=0.2,shuffle = True)
xTrain
#pd.to_numeric(y)
#print (type(y))

,location,country,gender,age,vis_wuhan,from_wuhan,symptom1,symptom2,symptom3,symptom4,symptom5,symptom6
431,108,24,0,29,0,0,14,31,19,12,3,1
179,68,11,1,41,0,0,14,31,19,12,3,1
174,96,11,2,41,0,0,14,31,19,12,3,1
563,19,32,2,41,1,0,14,31,19,12,3,1
688,45,13,0,55,0,0,2,17,19,12,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...
534,114,29,2,41,0,0,14,31,19,12,3,1
584,92,2,1,4,0,1,14,31,19,12,3,1
493,110,28,1,47,1,0,14,31,19,12,3,1
527,114,29,2,41,1,0,14,31,19,12,3,1
168,6,11,0,52,0,0,14,31,19,12,3,1

In [18]:
#transformer = Normalizer().fit(xTrain)
#xTrain = transformer.transform(xTrain)
#xTest = transformer.transform(xTest)

In [19]:
reg = LogisticRegression (max_iter=5000)
reg.fit(xTrain , yTrain)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=5000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [20]:
yPred = reg.predict(xTest)
yPred

array([1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
      dtype=int64)

In [21]:
print (accuracy_score(yTest,yPred))

0.9479768786127167

In [22]:
print (f1_score(yTest,yPred))

0.7096774193548386

In [23]:
print (recall_score(yTest,yPred))

0.6875

In [24]:
print (precision_score(yTest,yPred))

0.7333333333333333

In [25]:
print (roc_auc_score(yTest,yPred))

0.8310111464968153

In [26]:
print (confusion_matrix(yTest,yPred))

[[153   4]
 [  5  11]]